html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

header h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

.score-panel {
  display: flex;
  width: 40vw;
  justify-content: space-around;
  margin: auto;
}

.stars {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
}

#deck {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 3px;
  padding: 32px;
  list-style: none;
  margin: auto;
}

#deck li {
  border: 1px solid gray;
  padding: 5px;
  /* flex-grow: 1; */
  box-shadow: 4px 2px 18px 0 rgba(46, 61, 73, 0.5);
  margin: 10px; 
  border-radius: 6px;
}

.card {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.timer p {
  font-size: 36px;
}

.restart {
  display: flex;
  align-items: center;
}

/* CSS rules for the standard material design sizing guidelines: */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }